@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* reset classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-text-color: #132043;
  --secondary-text-color: #1f4172;
  --accent-color: #4b527e;
  --accent-color-dark: #2e4374;
  --padding-inline-section: 20px;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-family: "Roboto", sans-serif;
  /* font-size: 1.25rem; */
  color: var(--secondary-text-color);
  line-height: 1.5rem;
}
a {
  text-decoration: none;
  display: inline-block;
}

/* utility classes */
.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.company-logo {
  margin-right: 20px;
}
.logo-with-links {
  display: flex;
  align-items: center;
}
.end-nav {
  display: flex;
  align-items: center;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
a.menu-links {
  color: var(--primary-text-color);
  padding: 10px;
}
.nav-icons {
  color: var(--primary-text-color);
  padding: 10px;
}
a.menu-links:hover {
  color: #008000;
}
/* hero-section */
main {
  background-color: #e6e3e9;
}
.hero-container {
  padding: 150px 0 100px 0;
}
.hero-section-background-img {
  background: url(./images/logo-leaf-new.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 400px 200px;
}
.hero-section {
  display: flex;
  max-width: 90%;
  margin: auto;
}
.hero-section-intro {
  padding: 60px 0 0 80px;
  line-height: 3rem;
}
.hero-section-intro-p {
  padding: 20px 0;
}
.cart-icon {
  padding-right: 10px;
}
.hero-section-intro-button {
  color: #ffffff;
  background-color: #6a9739;
  font-weight: 700;
  padding: 17px 34px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.hero-section-intro-button:hover {
  background-color: #75b82e;
}
/* elementor section */
.elementor-section {
  background-color: #000000;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px 0;
}
.elementor-icons {
  color: #6a9739;
  font-size: 1.5rem;
  padding-right: 15px;
}
.elementors {
  background-color: #303030;
  padding: 30px 40px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
}
.elementors a,
.elementors p {
  color: #ffffff;
}

/* best selling product section */
.best-selling-container {
  padding: 150px 0 50px 0;
}
.best-selling-heading {
  text-align: center;
}
.best-selling-heading img {
  padding: 20px 0 40px 0;
}
.best-selling-section {
  display: flex;
  justify-content: center;
}
.best-selling-products {
  text-align: center;
  line-height: 1.8rem;
}
.best-selling-products a {
  display: block;
  color: var(--primary-text-color);
}

/* product-categories */
.product-categories-header-img {
  text-align: center;
}
.product-categories-container {
  background-color: #e6e3e9;
  padding: 120px 0;
}
.product-categories-section {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.product-categories {
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  line-height: 2rem;
  max-width: 350px;
  height: 400px;
}
.product-categories h3 {
  padding-bottom: 10px;
}
.product-categories-1 {
  background: url(./images/product-categories/product11-free-img.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: cover;
  /* background-size: 350px; */
}
.product-categories-2 {
  background: url(./images/product-categories/product13-free-img.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: cover;
}
.product-categories-3 {
  background: url(./images/product-categories/product17-free-img.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: cover;
}
.product-categories a {
  display: block;
  text-align: start;
  margin: 20px 0 0 0;
}
.product-categories-button {
  color: #ffffff;
  background-color: #6a9739;
  font-weight: 700;
  padding: 17px 34px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.product-categories-button:hover {
  background-color: #75b82e;
}
.arrow-icon {
  padding-left: 10px;
}
/* discount-offer */
.discount-offer-container {
  text-align: center;
  background-color: #e6e3e9;
}
.discount-offer {
  background-color: #111111;
  display: flex;
  justify-content: space-evenly;
  padding: 60px 0;
}
.discount-offer h2 {
  color: #ffffff;
}
.discount-offer-container h3 {
  padding: 40px 0;
}
/* customer-reviews-container */
.customer-reviews-container {
  padding: 100px 0 50px 0;
  background-color: #f5f4f7;
  /* background-color: #e6e3e9; */
}
.customer-reviews-section {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}
.reviews-section {
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 45px;
  line-height: 2.5rem;
  box-shadow: 8px 8px 8px #a8a5a5;
}
.customer-reviews {
  margin: 80px 20px 10px;
}
.customer-details {
  margin: 20px 0;
}
.star-icon {
  color: #ffbb1e;
}
.todays-deal {
  color: #ffffff;
  background: url(./images/reviews/sydney-rae-668606-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(8px);
  /* -webkit-filter: blur(2px); */
}
.todays-deal p {
  color: #ffffff;
  padding: 20px 0 40px;
}
